{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}

{% block metaData %}
	{% include '_includes/_metadata' with { type: 'website', title: 'Nieuws', description: 'Urgent.fm nieuwsoverzicht' } %}
{% endblock %}

{% block content %}
	{% import "_macros/_ui" as ui %}

	{% set filtersQuery = craft.app.request.getParam('categorie') %}
	{% set filterCategories = craft.categories.title(filtersQuery) %}

	<div role="main" class="main container">
		<div class="row banner-none">
			<div class="col">
				<section>
					<h1 class="mb-3">Urgent.fm nieuws</h1>

					{% set nieuwsQuery = craft.entries.section('nieuws')
						.section('nieuws')
						.relatedTo(filterCategories)
						.limit(9) %}
					{% set nieuws = nieuwsQuery.all() %}

					{% paginate nieuwsQuery as pageInfo, pageEntries %}
					{% include "_includes/nieuwsoverzicht" with { nieuws: pageEntries, numberOfItemsIsEven: false } only %}
					{{ ui.setPagination(pageInfo) }}
				</section>
			</div>
		</div>
	</div>
{% endblock %}
