{% if searchQuery is defined %}
	{% set queryValue = searchQuery %}
{% else %}
	{% set queryValue = "" %}
{% endif %}

<div class="modal-search container">
	<div class="row">
		<div class="col">
			<div class="float-end close">&times;</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form class="formZoek" action="{{ url('zoek/resultaten') }}">

            {% include "_includes/zoek/searchbar" %}

			</form>
		</div>
	</div>
</div>
<div class="overlay"></div>
