{# The embedded audio player is wrapped around a custom Termsfeed tag. This tag is needed for rendering the Termsfeed consent bann#}
{# If no consent is given, or consent is rejected, this tag will render a consent placeholder banner. #}
{# See https://www.termsfeed.com/ for more information #}

{# Get the iframe url from the OEmbed field object. This url is needed for dynamically rendering the custom Termsfeed tag #}
{% set iframeParts = cloudmix.media.code|split(' ') %}
{% set iframeSrcPart = iframeParts|filter(part => part starts with 'src')|first %}
{% set src = iframeSrcPart|split('"')|length > 1 ? iframeSrcPart|split('"')[1] : '' %}
{% set src = src|replace({'&amp;': '&'}) %}

{# Each streaming platform gets it's own vendor id. This id is generated in the Termsfeed settings console  #}
{% set vendorId = null %}

{# Add here each specific generated platform vendor id #}
{% if 'mixcloud' in src %}
	{% set vendorId = 'termsfeed-4d011d4e-2afe'  %}
{% endif %}

{# Render here the custom Termsfeed iframe tag, provided with attributes #}
{# If there is no vendor generated yet at the Termsfeed user console, then render an alert message. #}
{% if vendorId is not null %}
	{% tag 'termsfeed-privacy-consent-tag-iframe' with {
		"data-termsfeed-privacy-consent-vendor-id": vendorId,
		width: cloudmix.media.width,
		height: cloudmix.media.height,
		src: src,
		frameborder: 0,
	} %}
	{% endtag %}
{% else %}
	<div class="alert alert-light" role="alert">
		<p class="mb-0 text-center">Niets zichtbaar? Meld het <strong><a href="mailto:website@urgent.fm">hier</a></strong> aan ons development team!</p></div>
{% endif %}
