{% for item in prgNieuws %}
	<div class="row mt-2">
		<div class="col">
			<div class="programmanieuws">
				<h3>{{ item.title }}</h3>
				<p class="mb-0">
					{{ item.programmanieuwsInhoud }}
				</p>
			</div>
		</div>
	</div>
{% endfor %}
