{% for item in prgNieuws %}
    {# TODO: Breakpoint nog eens overlopen!! #}
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 mb-4">
		<div class="col ms-xl-5 ms-xxl-0">
			<h3>{{ item.title }}</h3>
			<p>
				{{ item.programmanieuwsInhoud }}
			</p>
		</div>
	</div>
{% endfor %}