<!-- Editor's pick-->
<div class="container-fluid editorsPick py-3">
	<div class="swiffy-slider slider-item-show6 slider-item-reveal slider-nav-round">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="sectionTitle">Editor's Pick</h2>
				</div>
			</div>
		</div>

		<ul class="slider-container">
			{% for i in 0..14 %}
				<li class="slide-visible" id="pick-{{ i }}">
					<div>
						<a class="mixcloud-link" href="" target="_blank">
							<div class="mixcloud-thumb-image w-100"><img src="" alt=""></div>
							<p class="mt-2">
								<strong></strong>
							</p>
						</a>
					</div>

				</li>
			{% endfor %}

			<li class="slide-visible">
				<div>
					<a class="mixcloud-link" href="https://www.mixcloud.com/urgentfm/" target="_blank">
						<div class="herbeluister">
							<div>
								<p>Herbeluister alle Urgent.fm shows</p>
							</div>
						</div>
						<p class="mt-2">
							<strong>Urgent.fm op Mixcloud.com</strong>
						</p>
					</a>
				</div>

			</li>
		</ul>

		<button type="button" class="slider-nav"></button>
		<button type="button" class="slider-nav slider-nav-next"></button>
	</div>
</div>
