<section>
	<div class="editors-pick container-fluid py-3">
		<div class="swiffy-slider slider-item-show6 slider-item-reveal slider-nav-round">
			<div class="row">
				<div class="col">
					<h2 class="section-title-centered">Herbeluister:</h2>
					<ul class="slider-container">
						{% for i in 0..14 %}
							<li class="slide-visible" id="pick-{{ i }}">
								<article>
									<a class="mixcloud-link" href="" target="_blank">
										<img src="" alt="">
										<p></p>
									</a>
								</article>
							</li>
						{% endfor %}
						<li class="slide-visible">
							<article>
								<a class="mixcloud-link" href="https://www.mixcloud.com/urgentfm/" target="_blank">
									<img src="/images/btn_Herbeluister.svg" alt="Herbeluister alle Urgent.fm shows"/>
									<p>Urgent.fm op Mixcloud.com</p>
								</a>
							</article>
						</li>
					</ul>
					<button type="button" class="slider-nav"></button>
					<button type="button" class="slider-nav slider-nav-next"></button>
				</div>
			</div>
		</div>
	</div>
</section>
