{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = category.title %}

{% block content %}
	{% import "_macros/_ui" as ui %}

	<div role="main" class="main container">
		<div class="row banner-none">
			<div class="col">
				<h1 class="mb-3" id="title" data-title="{{ category.title }}">{{ category.title }}</h1>

				{% set nieuwsQuery = craft.entries.section('nieuws')
						.section('nieuws')
						.relatedTo(category)
						.limit(8) %}
				{% set nieuws = nieuwsQuery.all() %}

				{% paginate nieuwsQuery as pageInfo, pageEntries %}
					{% include "_includes/nieuwsoverzicht" with { nieuws: pageEntries, numberOfItemsIsEven: true } only %}
					{{ ui.setPagination(pageInfo) }}
				</div>
			</div>
		</div>
	{% endblock %}
