{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = category.title %}

{% block content %}
	<div role="main" class="main container">
		<div class="row">
			<div class="col">
				<h5 id="title" data-title="{{ category.title }}">{{ category.title }}</h5>
			</div>
		</div>
		<div class="row">
			{% set items = craft.entries.relatedTo(category).all() %}
			<ul>
				{% for item in items %}
					<li>
						<a href="{{ item.url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
