{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}

{% block content %}

	{% set queryValue = "" %}

	<div class="search-container main container my-0">
		<div class="row">
			<div class="col d-flex">
				<div class="form-background align-self-center flex-fill">
					<form class="form-search" action="{{ url('zoek/resultaten') }}">
						{% include "_includes/zoek/searchbar" %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}