/* /////////////////////////////////////////////////////////////////////////////

	Variables

///////////////////////////////////////////////////////////////////////////// */
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Serif+Pro:ital,wght@0,600;0,700;1,600;1,700&display=swap);
/* Color Variables */
/* Grey scales */
/* /////////////////////////////////////////////////////////////////////////////

	Mixins

///////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////

	Functions

///////////////////////////////////////////////////////////////////////////// */
html {
  scroll-behavior: auto !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-size: calc(2.5 * 1rem);
}

h2 {
  font-size: calc(1.5 * 1rem);
}

h3 {
  font-size: calc(1.25 * 1rem);
}

h3 span {
  font-family: "Roboto", sans-serif;
  font-size: calc(1 * 1rem);
}

h5 {
  font-size: calc(1 * 1rem);
}

.programma-vandaag-label {
  font-size: calc(1.25 * 1rem);
}

p {
  font-size: calc(1.25 * 1rem);
}
p.date {
  color: #919191;
  font-size: calc(1 * 1rem);
}
p.intro {
  font-size: calc(1.5 * 1rem);
}

.programma-intro {
  font-family: inherit;
  font-size: calc(1.25 * 1rem);
  font-weight: bolder;
}

a {
  color: #3ed8a0;
  text-decoration: none;
}
a:hover {
  color: #919191;
  text-decoration: none;
}

.navbar .nav-active,
.navbar .nav-link:active {
  background-color: #09d389 !important;
}

.accent-green {
  color: #3ed8a0;
}

.btn-privacy-settings {
  all: unset;
  color: #919191;
  font-size: calc(1 * 1rem);
}
.btn-privacy-settings:hover {
  text-decoration: underline;
}

.social-media-links {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
}
.social-media-links li {
  list-style: none;
}

@media (max-width: 991px) {
  .navbar-nav {
    width: fit-content;
  }
  .navbar-nav a {
    padding: 0.5rem 0.75rem;
  }
}
@media (min-width: 992px) {
  header .navbar .logo {
    width: unset !important;
  }
  .programmaschema-navbar-container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container:not(.navbar .container,
  footer .container,
  .modal-background .container) {
    max-width: 60vw;
    max-width: 60svw;
  }
}
.banner-none {
  margin-top: 20vh;
  margin-top: 20svh;
}

.banner-image-container {
  overflow: hidden;
}

.hero {
  min-height: 75vh;
  min-height: 75svh;
}

.hero-background-picture {
  width: 100%;
  height: 75vh;
  height: 75svh;
}
.hero-background-picture img {
  height: 75vh;
  height: 75svh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.hero-content-programma-vandaag {
  background-color: #ffffff;
}

.hero-content {
  position: absolute;
  left: 0;
  right: 0;
}
.hero-content h1,
.hero-content .programma-van-tot {
  color: #ffffff;
}
.hero-content h1 span,
.hero-content h1 div,
.hero-content .programma-van-tot span,
.hero-content .programma-van-tot div {
  background-color: #242424;
  border-left: solid #242424 1rem;
  border-right: solid #242424 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.hero-content h1,
.hero-content h1 + div {
  line-height: normal;
}

.category-base {
  color: #ffffff;
  background-color: #484848;
  font-size: 0.75rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.category-base:hover {
  color: #ffffff;
  background-color: #919191;
}

.cultuur {
  background-color: #ebb122;
}
.cultuur:hover {
  background-color: #f0c459;
}

.muziek {
  background-color: #009fe3;
}
.muziek:hover {
  background-color: #40b7ea;
}

.actualiteit {
  background-color: #166a88;
}
.actualiteit:hover {
  background-color: #508fa6;
}

.nieuws {
  color: #ffffff;
  background-color: #009fe3;
}

.main {
  margin-bottom: calc(2 * 1rem + 10vh);
  margin-top: calc(2 * 1rem);
}

header {
  min-height: 10vh;
  min-height: 10svh;
}
header .navbar {
  min-height: inherit;
}
header .navbar .logo {
  min-height: 10vh;
  min-height: 10svh;
}
header .search {
  background-color: transparent;
  border: none;
}
header .search::before {
  content: url("../images/icons/search.svg");
}

.navbar {
  z-index: 7000;
  border-bottom-width: 0;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  width: 100vw;
  width: 100svw;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: auto;
  align-items: flex-start;
  overflow: hidden;
  line-height: 100%;
}
.navbar a {
  color: #242424;
  font-weight: bold;
}
.navbar .nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-size: calc(1 * 1rem);
  background-color: #242424;
  color: #ffffff !important;
  line-height: 100%;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  width: 100%;
}
.navbar .nav-item:hover, .navbar .nav-itemreversed:hover {
  background-color: #3ed8a0 !important;
}
.navbar .nav-item-reversed {
  color: #242424 !important;
  background-color: #f2f2f2 !important;
}
.navbar .nav-item-reversed::after {
  padding-left: 0.1em;
  content: url("../images/icons/link-external.svg");
}

#navbarToggleSearchButton {
  margin-top: 0.25rem;
  padding-left: 0.5rem;
}

.hero-content-programma-vandaag {
  overflow: auto;
}
.hero-content-programma-vandaag .timeslots {
  z-index: 4000;
}
.hero-content-programma-vandaag .first-row p,
.hero-content-programma-vandaag .timeslots i {
  color: #919191;
}

.search-results-container .form-background {
  background-color: #ffffff;
  padding: calc(1.5 * 1rem);
}
.search-results-container .form-background .cb-filter {
  margin-top: calc(1 * 1rem);
}
.search-results-container .form-background .form-label {
  margin-bottom: 0;
  color: #919191;
}

.search-container {
  height: 80vh;
}

.searchfield-container {
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  display: flex;
  padding: 0.5rem;
}

.input-search {
  flex-grow: 1;
  border: none;
}

.form-categoriefilter,
.form-label {
  margin-left: 0.5rem;
}

.btn-search {
  background-color: #3ed8a0;
  border: none;
}

.btn-light {
  background-color: #3ed8a0;
  color: #ffffff;
}

.button-primary,
.button-secondary {
  background-position-y: center;
  background-position-x: calc(1rem / 2);
  background-repeat: no-repeat;
  display: inline-block;
  padding: calc(1rem / 2) calc(1 * 1rem) calc(1rem / 2) calc(2.5 * 1rem);
}

.button-primary {
  background-color: #3ed8a0;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
}
.button-primary:hover {
  background-color: #242424;
  color: #ffffff;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
}

.button-primary {
  background-image: url("../images/icons/next.svg");
}

.btn-vandaag-toggle:focus {
  background-color: #3ed8a0;
}

a.button-secondary {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/icons/next-accent.svg");
  color: #3ed8a0;
}
a.button-secondary:hover:hover {
  background-color: #242424;
  color: #ffffff;
  background-image: url("../images/icons/next.svg");
}

.btn-vandaag-toggle {
  background-color: #242424;
  border: none;
}
.btn-vandaag-toggle:hover {
  background-color: #3ed8a0;
}

.btn:focus {
  box-shadow: none !important;
}

button.accordion-button:focus {
  box-shadow: #009fe3 !important;
}

.searchbar:focus {
  border-color: #3ed8a0 !important;
  box-shadow: inset 0 0 0 0.25rem rgba(62, 216, 160, 0.25) !important;
}

.form-control-custom input[type=checkbox] {
  opacity: 0;
  display: none;
}

.form-control-custom input[type=checkbox] + label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  display: inline-block;
  color: #242424;
  line-height: 1em;
}

.form-control-custom input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-image: url("../images/icons/checkmark-unchecked.svg");
  background-size: cover;
}

.form-control-custom input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
}

.form-control-custom input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-image: url("../images/icons/checkmark-checked.svg");
  background-size: cover;
}

footer {
  background-color: #ffffff;
  min-height: 10vh;
  min-height: 10svh;
  z-index: 8030 !important;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
}
footer .container {
  min-height: inherit;
}
footer .container > * {
  min-height: inherit;
}

.social-media {
  color: #ffffff;
  background-color: #ffffff;
}
.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.audio-control {
  border: none;
  height: 3rem;
  width: 3rem;
}

.audio-control-play {
  background: border-box no-repeat center/contain url("../images/icons/playknop.svg");
}

.audio-control-pause {
  background: border-box no-repeat center/contain url("../images/icons/stop.svg");
}

h2.section-title {
  color: #484848;
  font-size: calc(1.5 * 1rem);
}

h2.section-title-centered {
  color: #484848;
  font-size: calc(1.5 * 1rem);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.editors-pick {
  background-color: #ffffff;
}
.editors-pick .mixcloud-link {
  width: 100px;
  text-decoration: none;
  color: #242424;
}
.editors-pick .mixcloud-link img,
.editors-pick .mixcloud-link p {
  width: 100%;
}
.editors-pick .mixcloud-link:hover {
  text-decoration: underline;
}
.editors-pick .mixcloud-link img {
  object-fit: cover;
}
.editors-pick .mixcloud-link p {
  font-size: calc(0.85 * 1rem);
  padding-top: calc(1rem / 2);
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.editors-pick .herbeluister {
  display: inline-block;
  background-color: #3ed8a0;
  /* fixed responsive square: code gevonden op https://stackoverflow.com/questions/19068070/how-to-style-a-div-to-be-a-responsive-square*/
  width: 100%;
  max-width: 16px;
  height: 0;
  max-height: 160px;
  padding-bottom: 100%;
}

.mix-sound-cloud iframe {
  width: 100%;
}

.programma-logo img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: center;
}

.related-shows .col a {
  max-height: 6rem;
  color: #242424;
}
.related-shows .col a:hover {
  color: #919191;
  background-color: #ffffff;
}

.related-show p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: medium;
}

.related-show h3 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: larger;
}

.radio-show-news {
  padding: calc(1 * 1rem);
  background-color: #ffffff;
}

.cards-grid {
  margin-bottom: 48px;
}

.card p {
  font-size: calc(1 * 1rem);
}
.card:not(.card-contact):hover {
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
}
.card:not(.card-contact) h3 {
  font-size: calc(1.5 * 1rem);
  color: #242424;
}
.card:not(.card-contact) p {
  color: #242424;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card:not(.card-contact) p:hover,
.card:not(.card-contact) h3:hover {
  color: #919191;
}
.card:not(.card-contact) a:not(.category-base, .card-contact a) {
  color: #242424;
}
.card:not(.card-contact) a:not(.category-base, .card-contact a):hover {
  color: #919191;
}
.card:not(.card-contact) .img-fluid {
  border-color: transparent;
}

.pagination-prev-page,
.pagination-next-page,
.pagination-change-page {
  text-decoration: none;
}

.pagination-current-page {
  pointer-events: none;
  border-radius: 50%;
  background-color: #3ed8a0;
  color: #ffffff;
  height: 2em;
  width: 2em;
  line-height: 2em;
  display: inline-block;
}

.social-media-list {
  background-color: #242424;
  border-radius: 5px;
  padding: 0.2em 0;
}
.social-media-list ul {
  list-style: none;
}
.social-media-list a {
  color: white;
}

.nav-link.link {
  color: #242424;
}

.nav-link.link:hover {
  color: #3ed8a0;
}

.workshops {
  margin-top: 3rem;
  background-color: #ffffff;
  padding: 2rem;
}
.workshops > *:last-child {
  margin-bottom: 0;
}

/* programmaschema styling */
.programmaschema-navbar-container {
  border-bottom: solid black 1px;
}
.programmaschema-navbar-container .programmaschema-navbar li {
  display: inline;
  margin-right: 5px;
}
.programmaschema-navbar-container .programmaschema-navbar li .tabs-button {
  background: none;
  border: none;
  color: #242424 !important;
  width: fit-content;
  padding-left: 0;
  padding-right: 0;
}
.programmaschema-navbar-container .programmaschema-navbar li .tabs-button:active {
  color: lightgray;
}
.programmaschema-navbar-container .programmaschema-navbar li .tabs-button:not(.tabs-button-active):hover {
  color: gray !important;
  font-weight: bolder;
}
.programmaschema-navbar-container .programmaschema-navbar li .tabs-button-active {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.tabs-content {
  display: none;
}

.tabs-content-active,
.tab {
  display: block;
}

.programmaschema-dag {
  text-decoration: none;
  color: #242424;
}
.programmaschema-dag p {
  font-size: calc(1 * 1rem);
}
.programmaschema-dag:hover {
  background-color: #ffffff;
}

.slot {
  border-bottom: solid black 1px;
}
.slot:hover {
  background-color: inherit;
}

/* programma entry */
.social-media-link {
  vertical-align: middle;
}

.news-embedded-media iframe {
  height: auto;
}

.audioplayer-currently-playing {
  font-size: calc(1.25 * 1rem);
  color: #242424;
  text-decoration: none;
}

.header {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 8999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
}
.modal-container .modal-search-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: revert;
  text-align: center;
}
.modal-container .modal-search-content .close {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  color: #ffffff;
  width: 3rem;
  text-align: center;
  background-color: #242424;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}