/* /////////////////////////////////////////////////////////////////////////////

	Variables

///////////////////////////////////////////////////////////////////////////// */
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Serif+Pro:ital,wght@0,600;0,700;1,600;1,700&display=swap);
/* /////////////////////////////////////////////////////////////////////////////

	Mixins

///////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////

	Functions

///////////////////////////////////////////////////////////////////////////// */
html {
  scroll-behavior: auto !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F2F2F2;
}

h1, h2, h3 {
  font-family: "Source Serif Pro", serif;
}

h3 span {
  font-family: "Roboto", sans-serif;
  font-size: calc(1 * 16px);
}

h2 {
  font-size: calc(2.5 * 16px);
}

.accent-green {
  color: #3ED8A0;
}

.text-overflow {
  width: 100%;
  max-height: 3rem;
  white-space: pre-line;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(1.5 * 16px);
  }

  .hpBanner {
    min-height: 90vh;
  }

  .banner-window {
    margin-top: 0;
  }

  .banner-programma h1 {
    display: inline-block;
  }
  .banner-programma .button-primary, .banner-programma .button-secondary {
    font-size: calc(0.85 * 16px);
  }
  .banner-programma .banner-button {
    padding: 0;
  }

  .modal-search {
    margin-top: 7vh;
  }

  .slot-tags {
    display: block;
  }
}
@media (min-width: 768px) {
  .hpBanner {
    height: 90vh;
  }

  .banner-programma {
    max-height: 75vh;
  }

  .banner-window {
    height: 75vh;
  }

  .timeslots ul {
    display: block !important;
  }

  .container:not(.navbar .container, footer .container, .modal-background .container) {
    width: 90vw;
  }

  h1 {
    font-size: calc(2.5 * 16px);
  }

  .modal-search {
    margin-top: 7vh;
  }

  .slot-tags {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .hpBanner {
    height: 90vh;
  }

  .banner-programma {
    max-height: 75vh;
  }

  .hpBanner {
    height: 90vh;
  }

  .banner-programma {
    max-height: 75vh;
  }

  .banner-window {
    height: 75vh;
  }

  .timeslots ul {
    display: block !important;
  }

  .container:not(.navbar .container, footer .container, .modal-background .container) {
    width: 60vw;
  }

  h1 {
    font-size: calc(3.5 * 16px);
  }

  .modal-search {
    margin-top: 7vh;
  }

  .slot-tags {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .hpBanner {
    height: 90vh;
  }

  .banner-programma {
    max-height: 75vh;
  }

  .banner-window {
    height: 75vh;
  }

  .container:not(.navbar .container, footer .container, .modal-background .container) {
    width: 60vw;
  }

  h1 {
    font-size: calc(3.5 * 16px);
  }

  .timeslots ul {
    display: block !important;
  }

  .modal-search {
    margin-top: 7vh;
  }

  .slot-tags {
    display: inline-block;
  }
}
@media (min-width: 1900px) {
  .container:not(.navbar .container, footer .container, .modal-background .container) {
    width: 60vw;
  }

  h1 {
    font-size: calc(3.5 * 16px);
  }

  .hpBanner {
    height: 90vh;
  }

  .banner-programma {
    max-height: 75vh;
  }

  .banner-window {
    height: 75vh;
  }

  .timeslots ul {
    display: block !important;
  }

  .modal-search {
    margin-top: 7.5vh;
  }

  .slot-tags {
    display: inline-block;
  }
}
.banner-none {
  margin-top: 20vh;
}

.banner-image-container {
  overflow: hidden;
}

.banner-window {
  margin-top: 10vh;
  z-index: 1000;
}

.banner-programma {
  background-color: #FFFFFF;
}
.banner-programma li {
  list-style: none;
  margin-bottom: 0.5em;
}

.banner-content h1 {
  display: inline-block;
  color: #FFFFFF;
}
.banner-content h1 span {
  background-color: #242424;
  border-left: solid #242424 1rem;
  border-right: solid #242424 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.banner-logo {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.category-base {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
}

.category-root {
  color: #FFFFFF;
}

.category-sub {
  color: #f2f2f2;
  background-color: #484848;
}

.cultuur {
  background-color: #EBB122;
}

.muziek {
  background-color: #009FE3;
}

.main {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

#navBar {
  z-index: 8000;
  transition: transform 0.5s;
}

.header-hidden {
  transform: translateY(-200px);
}

.navbar {
  z-index: 7000;
  border-bottom-width: 0;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  width: 100vw;
}
.navbar a {
  color: #242424;
  font-weight: bold;
}
.navbar .nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-size: calc(1 * 16px);
  background-color: #242424;
  color: #FFFFFF !important;
  margin-right: calc(1 * 16px);
  line-height: 100%;
}
.navbar .nav-item:hover, .navbar .nav-itemreversed:hover {
  background-color: #3ED8A0 !important;
}
.navbar .nav-item-reversed {
  color: #242424 !important;
  background-color: #f2f2f2 !important;
}
.navbar .nav-item-reversed::after {
  padding-left: 0.1em;
  content: url("../images/icons/link-external.svg");
}

.banner-programma {
  overflow: auto;
}

.banner-programma .first-row p, .banner-programma .timeslots i {
  color: #919191;
}

.timeslots {
  z-index: 4000;
}

.formBackground {
  background-color: #FFFFFF;
  padding: calc(1.5 * 16px);
}
.formBackground .cbFilter {
  margin-top: calc(1 * 16px);
}
.formBackground .form-label {
  margin: 0;
  color: #919191;
}

#searchBar {
  background-image: url("../images/glassSearch.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20vw;
}

.search {
  background-color: transparent;
  border: none;
}
.search::before {
  content: url("../images/icons/search.svg");
}

.searchbar {
  border: none;
  font-size: calc(1.5 * 16px);
}

.zoekveld {
  border: 0.5px solid #242424;
  background-color: #FFFFFF;
}

.logo {
  width: 50px;
  height: 50px;
}
.logo p {
  margin: 0;
}

.search:hover {
  cursor: pointer;
}

.modal form {
  z-index: 9001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.9;
  z-index: 8999;
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
}

.modal-search {
  z-index: 9002;
  top: 50%;
  left: 50%;
  position: fixed;
  display: none;
  transform: translate(-50%, -50%);
}
.modal-search .btn-close-white {
  background-color: #242424;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.modal-search .formZoek {
  align-content: center;
}
.modal-search .btnZoek {
  background-color: #3ED8A0;
  border: none;
}
.modal-search .close {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  color: #FFFFFF;
  width: 3rem;
  text-align: center;
  background-color: #242424;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.button-primary, .button-secondary {
  background-position-y: center;
  background-position-x: calc( 16px / 2);
  background-repeat: no-repeat;
  display: inline-block;
  padding: calc( 16px / 2) calc(1 * 16px) calc( 16px / 2) calc(2.5 * 16px);
}

.button-primary {
  background-color: #3ED8A0;
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
}
.button-primary:hover {
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
}
.button-primary:hover {
  background-color: #242424;
  color: #FFFFFF;
}

.button-primary {
  background-image: url("../images/icons/next.svg");
}

a.button-secondary {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  background-image: url("../images/icons/next-accent.svg");
  color: #3ED8A0;
}
a.button-secondary:hover:hover {
  background-color: #242424;
  color: #FFFFFF;
  background-image: url("../images/icons/next.svg");
}

.btn-vandaag-toggle {
  background-color: #242424;
  border: none;
}
.btn-vandaag-toggle:hover {
  background-color: #3ED8A0;
}

.btn:focus {
  box-shadow: none !important;
}

button.accordion-button:focus {
  box-shadow: #009FE3 !important;
}

.searchbar:focus {
  border-color: #3ED8A0 !important;
  box-shadow: inset 0 0 0 0.25rem rgba(62, 216, 160, 0.25) !important;
}

.form-control-custom input[type=checkbox] {
  opacity: 0;
  display: none;
}

.form-control-custom input[type=checkbox] + label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  display: inline-block;
  color: #242424;
  line-height: 1em;
}

.form-control-custom input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-image: url("../images/icons/checkmark-unchecked.svg");
  background-size: cover;
}

.form-control-custom input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
}

.form-control-custom input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-image: url("../images/icons/checkmark-checked.svg");
  background-size: cover;
}

footer {
  /*voorlopige hack*/
  clear: both;
  background-color: #FFFFFF;
  height: 10vh;
  z-index: 8030 !important;
}

.btnPlay img {
  width: 50px;
  height: 50px;
}

.tumultfmLogo {
  width: 50px;
  height: 50px;
  background-color: #242424;
}

.social-media {
  color: #FFFFFF;
  background-color: #FFFFFF;
}
.social-media ul {
  margin: 0 !important;
}
.social-media ul li {
  display: inline-block;
}

.audio-control {
  border: none;
  height: 50px;
  width: 50px;
  background: url("../images/icons/playknop.svg") no-repeat;
  display: inline-block;
  align-content: center;
  justify-content: center;
}

section {
  margin-top: 0;
}

section ~ section {
  margin-top: calc(3.5 * 16px);
}

h2.sectionTitle {
  color: #484848;
  font-size: calc(1.5 * 16px);
}

.editorsPick {
  background-color: #FFFFFF;
}
.editorsPick .mixcloud-thumb-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.editorsPick .herbeluister {
  display: inline-block;
  background-color: #3ED8A0;
  /* fixed responsive square: code gevonden op https://stackoverflow.com/questions/19068070/how-to-style-a-div-to-be-a-responsive-square*/
  width: 100%;
  max-width: 300px;
  height: 0;
  max-height: 300px;
  padding-bottom: 100%;
}

.tegel, .programmaNieuws {
  background-color: #FFFFFF;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 0.33em;
  -moz-border-radius: 0.33em;
  border-radius: 0.33em;
}

.mix-sound-cloud iframe {
  width: 100%;
}

.programma-logo img {
  width: 100%;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: center;
}

.programma-suggestie {
  height: 6rem;
}

.programmaNieuws {
  padding: calc(1.5 * 16px);
  background-color: #FFFFFF;
}

.tegel:hover {
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.24);
}
.tegel .nwsItemCopy {
  padding: calc(1.5 * 16px);
}
.tegel .nwsItemCopy h3 {
  font-size: calc(1.5 * 16px);
  color: #242424;
}
.tegel .nwsItemCopy p {
  font-size: calc(1 * 16px);
  color: #242424;
}
.tegel .nwsItemCopy p:hover, .tegel .nwsItemCopy h3:hover {
  color: #919191;
}
.tegel .nwsItemTitle {
  color: #242424;
}
.tegel .nwsItemTitle:hover {
  text-decoration: none;
  color: #919191;
}

.card.img-fluid {
  border-color: transparent;
}

.nwsimg {
  width: 100%;
  height: 50%;
  position: relative;
}
.nwsimg img {
  width: 100%;
  object-fit: cover;
}

.categoryContainer, .category-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #484848;
  border-radius: 10px;
  padding: 2px 10px;
}
.categoryContainer:hover, .category-container:hover {
  background-color: gray;
}
.categoryContainer a, .category-container a {
  text-decoration: none;
}
.categoryContainer span, .category-container span {
  color: white;
}

.firstRow {
  height: fit-content;
  position: relative;
}
.firstRow img {
  width: 100%;
  height: 56%;
}

.prgLogo {
  width: 12rem;
  height: 12rem;
  background-color: #005cbf;
}

.prgInfo p {
  margin: 0;
}

.prgNwsCategory {
  color: black;
}
.prgNwsCategory:hover {
  text-decoration: none;
  color: gray;
}

.pagination-prevPage, .pagination-nextPage {
  font-weight: bold;
}

.pagination-currentPage {
  pointer-events: none;
  border-radius: 50%;
  background-color: #3ED8A0;
  color: #FFFFFF;
  height: 2em;
  width: 2em;
  line-height: 2em;
  display: inline-block;
}

.accordion-header button.accordion-button:not(.collapsed) {
  border: none;
  background-color: #FFFFFF;
  box-shadow: none !important;
  color: #919191;
}

.accordion-header .accordion-button::after {
  background-image: url("../images/icons/down-arrow-of-angle-svgrepo-com.svg");
}

.slot-title {
  display: inline-block;
}

.social-media-list {
  background-color: #242424;
  border-radius: 5px;
  padding: 0.2em 0;
}
.social-media-list ul {
  list-style: none;
}
.social-media-list a {
  color: white;
}

.nav-link.link {
  color: #242424;
}

.nav-link.link:hover {
  color: #3ED8A0;
}

/* Nieuwsoverzicht listing */
.nwsOverzicht h2 {
  color: black;
}

.nwsOverzicht a:hover {
  text-decoration: none;
  color: #777777;
}

.nwsOverzicht h2:hover {
  color: #777777;
}

.listingCategory {
  display: inline-block;
  background-color: #ac9b9b;
  border-radius: 10px;
  padding: 2px 10px;
}

.listingCategory a {
  color: white;
  text-decoration: none;
}

a p {
  color: black;
}

a p:hover {
  color: gray;
}

/* programmaschema styling */
.progschema-navbar-container {
  border-bottom: solid black 1px;
}

.progSchema-navbar li {
  display: inline;
  margin-right: 5px;
}

.tabs {
  border: 1px solid #cccccc;
  display: flex;
}

.tabs-button {
  background: none;
  border: none;
}

.tabs-button:active {
  color: lightgray;
}

.tabs-button:not(.tabs-button-active):hover {
  color: gray;
  font-weight: bolder;
}

.tabs-button-active {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.tabs-content {
  display: none;
}

.tabs-content-active, .tab {
  display: block;
}

.slot-border-bottom, .slot {
  border-bottom: solid black 1px;
}

.slot-inhoud h3:hover {
  cursor: grab;
  color: gray;
}

.slot-intro-active, .slot-logo-active {
  max-height: max-content;
}

.slot-row-active {
  height: max-content;
  max-height: 500px;
  color: black;
  transition: transform 2s;
}

.slot-row {
  height: 0;
  max-height: 0;
  overflow: hidden;
}

/* programma entry */
.social-media-link {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.news-embedded-media iframe {
  height: auto;
}