<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> #}
    <title>
        {% if title is defined %}
            {{ title }} |
        {% endif %}
        {{siteName}}
    </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% css "../dist/bootstrap/css/bootstrap.min.css" %}
    {% css "../css/urgent.css" %}
</head>
<body>   
    <header>
    <nav id="navBar" class="navbar navbar-expand-lg fixed-top navbar-light p-0">
        <div class="container m-auto">
                <div class="logo d-flex align-items-center justify-content-center">
                    <a class="navbar-brand" href="/">
                    <img src="../images/logo_baseline.svg" alt="Urgent.FM | 105.3FM" >
                    </a>
                </div>
            <!-- branding -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler, #navbarToggleSearchButton"
            aria-controls="navbarToggler navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button><!-- hamburgermenu-->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ms-2 ms-lg-1 mt-2 mt-lg-0">
                    <a id="programma" class="nav-item nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="/programma">programma's</a>
                    <a id="nieuws"class="nav-item nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="/nieuws">nieuws</a>
                    <a id="over-urgent-fm" class="nav-item nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="/wie-zijn-we">over Urgent.fm</a>
                    <a id="workshops" class="nav-item nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="/workshops">workshops</a>
                    <a id="contact" class="nav-item nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="/contact">contact</a>
                    <a class="nav-item nav-item-reversed nav-link my-1 mx-0 me-lg-3 ms-lg-0 my-lg-0" href="https://tumult.fm" >tumult.fm</a>
                </div><!-- navbar -->
            </div><!-- collapse -->
            <a href="/zoek" class="search toggle-search d-none d-lg-inline"></a>
			<a href="/zoek" class="search collapse toggle-search d-lg-none" id="navbarToggleSearchButton"></a>
        </div><!-- navBar container-->
    </nav>
</header>

<div class="content">
    
{% block content %}

{% endblock %}
</div>
{# Zoek programma op in weekdag adhv weeknummer en begintijd #}
{% set weekdagen = craft.entries()
        .section('programScheme')
        .orderBy('title')
        .all() %}
{% set dayOfTheWeek = 'now'|date('w') %}
{# {% set dayOfTheWeek = 5 %} #}
{% set dag = weekdagen[dayOfTheWeek] %}
{% set timeslots = dag.weekdag.all() %}
{% set break = 0 %}
{% set currentlyPlaying = null %}
{% set programma = null %}
{% set next =  null %}
{# Eerst checken of er een programma van de vorige dag op het huidig uur gespeeld wordt (vb: charged van 10pm tot 6 am) #}
{% set currentTime = 'now'|time('short') %}
{# {% set currentTime = '06:00' %} #}
{% if currentTime < '07:00' %}
{# Indien dit zo is, haal de programmatie op van de vorige dag #}
    {% set dayOfTheWeek = dayOfTheWeek - 1 %}
    {% if dayOfTheWeek < 0 %}
    {# Indien dag == zondag, dan dagnr veranderen naar zaterdag #}
        {% set dayOfTheWeek = 6 %}
    {% endif %}
    {% set dag = weekdagen[dayOfTheWeek] %}
    {% set timeslots = dag.weekdag.all() %}
{% endif %}
{# Huidig programma zoeken, dan volgend programma en vervolgens de loop beëindigen #}
{% for timeslot in timeslots if break <= 1 %}
    {% if break == 0 %}
        {% set beginuur = timeslot.beginuur|time   ('short') %}
        {% set einduur = timeslot.einduur|time('short')     %}
        {% if currentTime >= '07:00' %}
            {% if (currentTime >= beginuur and currentTime < einduur)
			or (currentTime >= beginuur and einduur < currentTime and einduur < beginuur)
			or (currentTime < beginuur and einduur < beginuur) %}
                {% set currentlyPlaying = timeslot.programma.one() %}
                {% set break = break + 1 %}
        	{% endif %}
        {% elseif currentTime < '07:00' %}
        	{% if  beginuur > einduur and currentTime < einduur %}
                {% set currentlyPlaying = timeslot.programma.one() %}
        		{% set break = break + 1 %}
            {% elseif currentTime >= beginuur and currentTime < einduur %}
            {% set currentlyPlaying = timeslot.programma.one() %}
                {% set break = break + 1 %}
        	{% endif %}
        {% else %}
        	{% if (currentTime >= beginuur and currentTime < einduur) %}
                {% set currentlyPlaying = timeslot.programma.one() %}
        		{% set break = break + 1 %}
        	{% endif %}
        {% endif %}
    {% else  %}
        {% set next = timeslot.programma.one() %}
        {% set break = break + 1 %}
    {% endif %}
{% endfor %}
{# Fallback, indien er een gat in de programmatie valt (zou niet mogen gebeuren, hiervoor moet input controle geschworden) #}
{% if currentlyPlaying == null %}
    {% set currentlyPlaying = 'Nothing planned for this timeslot.' %}
    <a href="#">{{ currentlyPlaying }}</a>
{% else %}
    {# indien currently playing laatste programma in array was, dan is next leeg
     #}
    {% if next == null %}
        {% set dayOfTheWeek = dayOfTheWeek + 1 %}
        {% if dayOfTheWeek == 7 %}
            {% set dayOfTheWeek = 0 %}
        {% endif %}
        {% set dag = weekdagen[dayOfTheWeek] %}
        {% set timeslot = dag.weekdag.one() %}
        {% set next = timeslot.programma.one() %}
    {% endif %}
    <!--daarna: <span class="audioplayer-playing-next"><a href="{{ next.url }}"><u>{{ next.title }}</u></a></span>href="/programma"><u>alle programma's</u></a> -->
{% endif %}

 <footer class="fixed-bottom">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="audioplayer d-flex align-items-center">
                <audio class="live-audio" preload="none">
                    <source id="source-aac" src="https://urgentstream.radiostudio.be/aac" type="audio/mp4" />
                    <source id="source-mp3" src="https://urgentstream.radiostudio.be/live" type="audio/mpeg" /> 
                </audio>
                <button type="submit" class="audio-control audio-control-play" title="Play/Stop button"></button>
                <div class="ms-4 p-0">
                    <span class="accent-green">luister nu:</span><br />
                    <a class="audioplayer-currently-playing" href="{{ currentlyPlaying.url }}">{{ currentlyPlaying.title }}</a>
                </div>
            </div><!-- urgent.fm player-->
            <div class="social-media d-none d-md-inline-block">
                <ul class="p-0">
                    <li>
                        <a class="social-media-link" href="https://www.facebook.com/urgent.fm" target="_blank">
                            <img src="../images/icons/facebook.svg" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link" href="https://www.youtube.com/@urgentfm" target="_blank">
                            <img src="../images/icons/youtube.svg" alt="youtube">
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link" href="https://www.instagram.com/urgent.fm/" target="_blank">
                            <img src="../images/icons/instagram.svg" alt="instagram">
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link" href="https://twitter.com/UrgentFM" target="_blank">
                            <img src="../images/icons/twitter.svg" alt="twitter">
                        </a>
                    </li>
                </ul>
            </div><!-- social media-->
        </div>
    </div>
</footer>

<!-- Modal -->
{% include "_includes/headerSearch" %}


{% js "../dist/bootstrap/js/bootstrap.bundle.min.js" %}

{% js "../js/programmaSchema.js" %}
{% js "../js/nieuwsoverzicht.js" %}

{% js "../js/script.js" %}

{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js", {"crossorigin":"anonymous", "defer":"defer"}) %}

{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css", {"rel":"stylesheet", "crossorigin":"anonymous"}) %}

</body>
</html>