{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class="col d-flex align-items-center justify-content-center hpBanner">
    <h3 id="title" data-title="{{ entry.title }}">{{entry.title}}</h3>
</div>

<div class="main container">

    <div class="row">
        <div class="col">
            {{ entry.programmaInhoud }}
        </div>
    </div>  
</div>
{% endblock %}