{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}

{% block content %}
{# Banner #}
{% set weekdagen = craft.entries()
            .section('programScheme')
            .orderBy('title')
            .all() %}
{% set image = entry.homepageBannerfoto.one() %}
{# {% set backgroundImageMedium = image.getUrl('bannerBackgroundImageLandscapeMedium1280w') %} #}

<div class="banner d-flex align-items-center justify-content-center">
	{# Gebruik bij klein formaat een dummy image #}
	<img class="img-fluid"
		src="{{ image.url }}"
	    srcset="http://placehold.it/360x150 300w,
		{{ image.url }} 769w"	               
		sizes="(min-width: 769px) 100vw, 0vw"
	    alt="{{ image.title }}"
	/>

	<div class="banner-schema"></div>
</div>

{# Editor's Pick #}
{% include "_includes/homepage/editorsPick" %}

{#Main content #}
<div role="main" class="main container" id="homepage">
	<section class="nieuws-uitgelicht">
		<h2 class="sectionTitle">Nieuws</h2>
		{% set nieuws = entry.uitgelicht.type('nieuws').limit(5).all() %}

		{% include "_includes/homepage/nieuwsoverzicht" with { nieuws: nieuws } only %}
		<a href="/nieuws" class="button-primary mt-5 mb-5">alle nieuwsberichten</a>
	</section><!--    Nieuwsoverzicht-->
	<section class="programmaNieuws">
		<h2 class="m-0 sectionTitle">Nieuws van Urgent.fm shows</h2>

		{% set nieuws = craft.entries.section('programmaNieuws').limit(5).all() %}

		{% include "_includes/homepage/prognieuwsoverzicht" with { nieuws: nieuws } only %}
		<a href="/programma" class="button-secondary mt-3">programma's</a>
	</section><!--Sidebar met programmanieuws-->
</div>

{% js "../js/script.js" %}

{% endblock %}
