{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}

{% block content %}
{% set image = entry.singlesBannerImage.one() %}
{% set backgroundImageSmall = image.getUrl('bannerImageBackgroundPortraitSmall576w') %}
{% set backgroundImageMedium = image.getUrl('bannerBackgroundImageLandscapeMedium1280w') %}
    <div class="d-flex align-items-center justify-content-center hpBanner" >
        <picture style="width: 100%; height: 75vh">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1200px)	" style="height:75vh; object-fit:cover; object-position:center; 	width:100%; position: relative">
			<img src="{{ backgroundImageSmall }}"  style="height:75vh; 	object-fit:cover; object-position:center; width:100%; position: 	relative"/>
		</picture>
        <div class="container banner-content align-self-end" style="position: absolute; left:0; right:0;">
        {# <div class="container banner-window banner-content d-flex align-items-center" style="position: absolute"> #}
            <h1 id="title" data-title="Wie zijn we"><span>Wie zijn we</span></h1>
        </div>
    </div>

    <div class="main container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
            <div class="col col-md-9 col-lg-9">
                <!--
                {{ entry.singlesInhoud }}
                -->
                <h2>Urgent.fm, het medialab van de Universiteit Gent, dé stadszender bij uitstek en dé referentie op het vlak van muziek en cultuur.</h2>
                <p class="intro">
                
                

Urgent.fm biedt radio voor de meerwaardezoeker, dient de rebel, voedt het creatieve brein én eert het eigenzinnige karakter.

Bij Urgent.fm is geen idee te gek en geen voorstel ongewoon.

Met die visie maakt Urgent.fm eigenwijze radio en geeft het jongeren de kans met diverse mediatools aan de slag te gaan.


                </p>
                
                
                <p>
De medialab-werking, gestoeld op het ‘on the field’ opleiden van mediamakers is daarom niet minder vakkundig. De jongeren worden geschoold om binnen een redactiestructuur aan de slag te gaan, van elkaar te leren en hun creatieve skills aan te spreken.</p>

<p>Daarnaast loopt de muziekwerking gesmeerd. De muziekconnaisseurs bieden de luisteraar van Urgent.fm bijna 40 muziekprogramma’s en een rijkelijk gevulde muziekautomaat die beheerd wordt door de muziekredactie.</p>

<p>De cultuurblog <a href="https://tumult.fm/">Tumult</a>, het hippe online en on air platform gaat de dans aan met de Gentse cultuursector en bericht over kunst en podia in de stad en haar randgemeenten. Evenementieel breekt het uit met haar cultuurfestival <a href="/zoek/resultaten?q=TUMULTINGENT">TUMULTINGENT</a>, sinds enkele jaren met als vaste stek De Krook.</p>

<p>De live- en opnamestudio groeide uit tot het muzikale café van de zender. Bands lopen af en aan en verrijken het livepalmares van de zender.</p>

<p>Met een sterke focus op de stad Gent en de liefde voor jong, eerlijk muzikaal en cultureel talent vaart Urgent.fm een eigenwijze koers in het hedendaags radiolandschap en geniet het een mooie geloofwaardigheid bij haar brede publiek.</p>

<p>Met de mobiele studio zette Urgent.fm een visueel versterkende stap in haar festivalwerking. De openklapbare container brengt het on air terras op straatniveau. Het biedt de voorbijganger een inkijk in de werking en een zicht op de residerende bands en praatgasten.</p>

<p>Naast live radio op de <a href="/zoek/resultaten?q=Gentse feesten">Gentse feesten</a> en <a href="/zoek/resultaten?q=Film Fest">Film Fest</a> zakt de festivalwerking van Urgent.fm onder meer af naar de <a href="/zoek/resultaten?q=Student Kick off">Student Kick off</a>, <a href="/zoek/resultaten?q=Bar Bricolage">Bar Bricolage</a>, <a href="/zoek/resultaten?q=Museumnacht">Museumnacht</a> en de <a href="/zoek/resultaten?q=12-urenloop">12-urenloop</a>. De zender stuurt reporters naar de <a href="/zoek/resultaten?q=Student Kick off">Student Kick Off</a> en <a href="/zoek/resultaten?q=Gent Jazz">Gent Jazz</a>.</p>

<p>Kortom Urgent.fm zit gedegen op koers en is 24/7 zowel on air (105.3FM) als online beluisterbaar. Via de <a href="https://www.mixcloud.com/urgentfm/">mixcloudpagina</a> kunnen programma’s herbeluisterd worden.
                </p>
                
            </div>
            <div class="col col-md-3 col-lg-3">
                {# {% include "_includes/overUrgentfmMenu" %} #}
                <ul class="nav flex-column subnav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/wie-zijn-we"><strong>Wie zijn we?</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/workshops">Workshops</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

